
.venv/
env/
ENV/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/

.coverage

htmlcov/
*.log
*.sqlite3
.env
.env.*
.DS_Store
Thumbs.db
.vscode/
.idea/
docker-compose.override.yml
migrations/
pip-wheel-metadata/